name: check

on:
  push:
  pull_request:
  schedule:
    - cron: '10 16 * * FRI'

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: CCXXXI/flutter-action@main
      - run: flutter analyze

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: CCXXXI/flutter-action@main
      - run: flutter test --coverage
      - uses: codecov/codecov-action@v2

  dependency_validator:
    runs-on: ubuntu-latest
    steps:
      - uses: CCXXXI/flutter-action@main
      - run: flutter pub run dependency_validator
